<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>Bullish Crypto - Cart</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	
	<!-- icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">Bullish Crypto</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<form action="/shop/" method="POST">
						<!-- fix this buggy redirect-->
						{% csrf_token %}
						<input hidden name="url" id="url" value="http://52.201.246.164/shop/">
						<button style=" --bs-bg-opacity: 1;background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;border:none;" class="nav-link">	<i class="bi bi-house-fill"></i> Shop
						</button>
						</form>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/aboutus">
						<i class="bi bi-patch-question-fill"></i> About
					</a>
				</li>
			</ul>
			<!-- login area-->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/shop/shoppingcart">
						<i class="bi bi-cart-fill"></i> Cart
					</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link">
						<i class="bi bi-person-circle"></i> {{user.username}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout/">
						<i class="bi bi-x-octagon-fill"></i> Logout
					</a>
				</li>			
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/login">
						<i class="bi bi-person-circle"></i> Login
					</a>
				</li>
				{%endif%}
			</ul>
		</div>
	</nav>


	<!-- jumbotron -->
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Cart</h1>
			<p class="lead">Go on, buy it.</p>
			<hr class="my-4">
		</div>
	</div>

	<!-- cart -->
	{% for x in shopping_cart%}
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				{% for item in products %}
				{% if item.name == x%}
				<img src="/{{item.image}}" class="img-fluid rounded-3" alt="placeholder">
				
			</div>
			<div class="col-md-4">
				<h6 class="text-muted">NFT</h6> <!-- item type -->
				<h6 class="lead">{{x}}</h6> <!-- item -->
			</div>
			<div class="col-md-4">
				<h6 class="lead">{{item.price}}</h6> <!-- price -->
			</div>
			<div class="col-md-2">
				<form style="display:inline;" action="/shop/shoppingcart/" method="POST">
					{% csrf_token %}
					<input hidden name="productname" value="{{x}}">
					<input hidden name="target" value="remove">	
					<button type="submit" class="btn btn-danger">Remove Item</button>
				</form>
			</div>
		</div>
		<hr class="my-4">
	</div>
					{%endif%}
				{% endfor %}
	{% endfor %}



	<!-- checkout -->
	<div class="container">
		<form method="GET" action="checkout">
		<button type="submit" class="btn btn-success">Checkout</button>
		</form>
	</div>
</body>

<!-- footer -->
<footer class="footer">
	<div class="container">
		<div class="text-muted text-center">&copy; 2022 IncrediBULLS Software</div>
	</div>
</footer>
</html>
